<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>
  </head>
  <body>
    <form  action="/create" method="post">
      <input type="text" name="todo" value="" placeholder="Please Enter Task">
      <button type="submit" name="button">Submit</button>
    </form>

  {{#todos}}
    <form  action="/completed/{{id}}" method="post">

      <button type="submit" name="button" value="">{{text}}</button>

    </form>
  {{/todos}}

    <form>
      <h2>Completed</h2>

      {{#completed}}
      
      <del>{{text}}</del>
      {{/completed}}

    </form>
  </body>
</html>
