<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>
  </head>
  <body>
    <form  action="/" method="post">
      <input type="text" name="todo" value="" placeholder="Please Enter Task">
      <button type="submit" name="button">Submit</button>
    </form>

  {{#todo}}
    <form  action="/" method="post">
        {{^done}}
      <button type="submit" name="button" value="{{task}}">Complete Task</button>
      {{/done}}
    </form>
  {{/todo}}

    <form>
      <h2>done</h2>
      {{#todo}}
      {{#done}}
      <del>{{task}}</del>
      {{/done}}
      {{/todo}}
    </form>
  </body>
</html>
